body{
    margin: 0;
    background-color: #6E6E6E;
    font-family: 'Trebuchet MS';
}

.general{
    display: flex;
}
                                                        /* POUR MEYTTRE UNE DIV QUI RESTE EN HAUT FAUT METTRE position:fixed; */
.header1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
    width: 100%;
    height: 60px;
}
.header1 img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.header1 div{
    display: flex;
    align-items: center;
}
.profile a{
    text-decoration: none;
}
.autres,.personne,.profile{
    margin:5px;
}
.header1 p,.header1 a{
    font-family: "Trebuchet MS";
    color: #ffffff;
    margin-right: 5px;
}
.header1 img:hover{
    opacity: 0.6;
}
.am{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    /* height: 693px; */
   
}

.am li{
    list-style-type: none;
    margin: 4px;
   width: 90%;
   height: 45.8px;
   background-color: green;
   display: flex;
   align-items: center;
   border-radius: 10px;
}

.am li:hover{
    background-color: greenyellow;
    transition: 0.1s;
    
}

.chat{
    width: 98.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.discuter{
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    background-color:#ffffff;
    /* position: fixed;
    bottom: 0; */
    width: 98.5%;
    justify-content: space-between;
    height: 40px;
    margin: 10px;
}
.am li img{
    margin: 5px;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    display: block;
}

.ajouter{
    margin-top: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    opacity: 0.8;
    background-image: url(images/croixnoir.png);
    background-size: cover;
    background-color: transparent;
    border: 0px;
}
.ajouter:hover{
    opacity: 0.4;
    transition: 0.2s;
}

.am li a{
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.discuter input{
    border: 0px;
    background-color: transparent;
    font-size: 16px;
}

.discuter div{
    margin: 5px;
}

.envoyer{
height: 30px;
margin: 5px;
width: 30px;
background-image: url(images/envoyer.png);
background-size: cover;
background-color: transparent;
border: 0px;
}

.envoyer:hover{
    opacity: 0.7;
    transition: 0.1s;
}

.messages{
    height: 100%;
}

.monter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    width: 1.5%;
}

.monter button{
    height: 2.2vh;
    margin: 3px;
}

.sous_general{
    display: flex;
    width: 100%;
    height: 904px;
}

/* CSS DES LI "CHAT_LI" */

.general ul{
    padding: 0;
    margin: 0;
}

.chat_li{
    display: flex;
    align-items: center;
    background-color: #6E6E6E;
    list-style-type: none;
    width: 100%;
    border: 0;
    padding: 0;
}

.chat_li a:hover{
    text-decoration: underline;
}

.div_mess img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.chat_li:hover{
    background-color:  #585858;
}

.div_mess{
    display: flex;
    align-items: center;
    margin: 5px;
    margin-left: 15px;
}

.div_mess a{
    text-decoration: none;
    color: #ffffff;
}

.div_mess div *{
    margin: 4px;
}

.button1{
    background-image: url(images/fleche_haut.png);
    background-size: cover;
    background-color: transparent;
}

.button2{
    background-image: url(images/flech_bas.png);
    background-size: cover;
    background-color: transparent;

}

